* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    font-family: 'Montserrat', sans-serif;
    .gradient {
        position: relative;
        background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
        margin-bottom: 50px;
        padding-bottom: 60px;
        border-radius: 0px 0px 12px 12px;
        box-shadow: 0px 10px 0px -1px #CACADB,
            0px 20px 0px -3px #E7E7F2;
        max-width: 1920px;
        
        
    }
    .back_h {
        background-image: url(./image/h_bukva.svg);
        background-position: center;
        background-repeat: no-repeat;
    }
    header {
        display: flex;
        justify-content: space-between;
        padding: 50px 60px;
        max-width: 1920px
    }
        .header_right {
            display: flex;
            flex-direction: column;
            justify-content: end;
            z-index: 1000;
        }   

            .contact {
                display: flex;
                justify-content: center;
                margin-bottom: 18px;
                height: 35px;
            }

                .ua {
                    background: #323264;
                    border: none;
                    margin-left: 5px;
                    padding: 0px 12px;
                }
                    .ua a{
                        text-decoration: none;
                        color:#FFFFFF;
                        font-weight: 700;
                    }

                .ua:hover {
                    background:#F0145A;
                    border: none;
                    border-radius: 8px;
                }

                .ru {
                    background: #323264;
                    border: none;
                    margin-left: 5px;
                    padding: 0px 12px;
                }
                    .ru a{
                        text-decoration: none;
                        color:#FFFFFF;
                        font-weight: 700;
                    }
                
                .ru:hover {
                    background:#F0145A;
                    border: none;
                    border-radius: 8px;
                }

                .en {
                    background: #F0145A;
                    border: none;
                    border-radius: 8px;
                    margin-left: 5px;
                    padding: 0px 12px;
                }
                    .en a {
                        text-decoration: none;
                        color:#FFFFFF;
                        font-weight: 700;
                    }
                .contacts {
                    margin-left: 13px;
                    padding-bottom: 4px;
                    display: flex;
                    align-items: center;
                }


                .contacts li {
                    display: inline;
                    color: #FFFFFF;                   
                    
                }
                    .contacts li img {
                        margin: 0px 6px;
                    }                 
                    .contacts li a {
                        text-decoration: none;
                        color: #FFFFFF;
                        font-weight: 700;
                    }
                        .contacts li a .facefill {
                            fill: white;
                        }
                        .contacts li a .facefill:hover {
                            fill: #F0145A;
                        }

            .nav_ul {
                list-style: none;
                text-align: end;
            }
                .nav_ul li {
                    display: inline;
                }
                    .nav_ul li a {
                        text-decoration: none;
                        color: #FFFFFF;
                        font-weight: 700;
                        padding-left: 15px;
                    }
                    .nav_ul li a:hover {
                        text-decoration: underline;
                    }
                
    .legal {
        text-align: center;
        margin-top: 210px;
        
    }
        .legal_text {
            font-weight: 700;
            font-size: 38px;
            line-height: 46px;
            color:#FFFFFF;
        }
        .arrow {
            margin: 300px 50px 0px 0px;
            text-align: center;
        }
            .stroke {
                stroke: white;
            }
            
            .stroke:hover {
                stroke: #F0145A;
            }
    .consistent {
        margin: 60px 180px 0px 180px;
        max-width: 1920px;
    }
        .consistent_row {
            display: flex;
            max-width: 1920px;
        }
            .consistent_list {
                padding: 0px 60px 0px 0px;
            }
                .consistent_list li {
                    list-style: none;
                    padding: 15px 0px 15px 0px;
                    font-weight: 700;
                    font-size: 38px;
                    line-height: 46px;
                    text-align: right;
                    white-space: nowrap;
                }
                .consistent_list li:first-child {
                    background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                }
                    .consistent_list li a {
                        text-decoration: none;
                        color: #B3B3BA;
                    }
                    .consistent_list li a:hover {
                        background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                    }
            .consistent_info {
                padding: 60px 0px 0px 60px;
                border-left: 4px solid #FFFFFF4D;
            }
                .consistent_info_text {
                    width: 580px;
                }
                 .text_big {
                    font-weight: 700;
                    font-size: 30px;
                    line-height: 37px;
                    color: #FFFFFF;
                    margin-bottom: 30px;
                 }
                 .text_small {
                    font-size: 19px;
                    line-height: 30px;
                    color: #FFFFFF;
                 }
    .services {
        margin: 100px 60px 0px 60px;
        max-width: 1920px;
    }
        div .service a {
            text-decoration: none;
            color: #24A3FF;
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
        .service_text {
            margin: 10px 0px 20px 0px;
            font-weight: 700;
            font-size: 38px;
            line-height: 46px;
            background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
        .card {
            display: flex;
            flex-wrap: wrap;
            
        }
            .cards {
                width: 400px;
                margin-top: 70px;
                margin-right: 30px;
                padding-right: 50px;
            }
                .card_title {
                    color: #24A3FF;
                    padding-top: 20px;
                    font-weight: 700;
                    font-size: 22px;
                    line-height: 27px;
                    padding-right: 40px;
                }
            
                .card_text {
                    margin-top: 20px;
                    font-size: 16px;
                    line-height: 26px;
                    color: #FFFFFF;
                    
                }
     .oleksandr {
        margin: 5px 0px 50px 0px;
        max-width: 1920px;
     }
        .oleksandr_body {
            margin: 60px;
            background: #F5F5FA;
            border-radius:  12px 12px 0px 0px;
        }
            .oleksandr_row {
                display: flex;
            }
                .oleksandr_info {
                    margin: 30px 0px 0px 30px;
                   width: 700px;

                }
                .oleksandr_info span a {
                    text-decoration: none;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 17px;
                    color: #24A3FF;
                    text-transform: uppercase;
                }
                .oleksandr_text {
                    font-weight: 700;
                    font-size: 38px;
                    line-height: 46px;
                    margin: 20px 0px;
                    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                }
                .oleksandr_name {
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 20px;
                    color: #B3B3BA;
                }
                .oleksandr_job {
                    font-size: 14px;
                    line-height: 22px;
                    color: #B3B3BA;
                    margin-top: 5px;
                }
            .oleksandr_ellips {
                text-align: center;
            }
            .oleksandr_ellips a {
                text-decoration: none;
                padding: 0px 10px;
            }

            .ellips_neactiv {
                fill: #24A3FF;
            }
            .ellips_neactiv:hover {
                fill: #643E72;
            }
                
    .clients {
        margin: 0;
        max-width: 1920px;
    }
        .clients_title {
            text-align: center;
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            text-transform: uppercase;
            color: #323264;
            margin-bottom: 50px;
        }
        .clients_logo {
            display: flex;
            flex-wrap: wrap;
        }
        .clients_logo div {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 360px;
            height: 120px;

        }


            .hillel {
                background: #1C4280;
            }

            .wanna{
                background: #143646;
            }

            .tapgerine {
                background:#F48B30 ;
            }
            .look {
                background: #9E4DC3; ;
            }
            .orangear {
                background: #FD9339 ;
            }
            .adtelligent {
                background:#E2E2E4 ;
            }
            .clickky {
                background:#C71C36 ;
            }
            .ecoleasyng {
                background:#DCF3F9 ;
            }
            .infratek {
                background:#EAEAEA ;
            }
            .citypark {
                background:#282240 ;
            }
            .artprint {
                background: #1D4568;
            }
            .ultimate {
                background: #000000;
            }
    .publication {
        padding: 30px 60px 0px 60px;
        background: #F5F5FA;
        max-width: 1920px;
    }
        .publications a {
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            color: #24A3FF;
            text-decoration: none;
            text-transform: uppercase;
        }
        .publications_text {
            font-weight: 700;
            font-size: 38px;
            line-height: 46px;
            background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            margin: 10px 0px 30px 0px;
        }
        .statia {
            display: flex;
            margin-bottom: 30px;
        }

        .statia article {
            margin-right: 30px;
            background: #FFFFFF;
            border-radius: 8px;
        }
        .stati_block {
            margin:30px;
        }
        .stati_title {
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: #24A3FF;
            margin-bottom: 15px;
            
        }
        .stati_date {
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            text-transform: uppercase;
            color: #B3B3BA;
            margin-bottom: 15px;
        }
        .stati_text {
            font-size: 14px;
            line-height: 22px;
            color: #000000;
            border-top: 4px solid #E6E6F0;
            padding-top: 15px;
        }
    footer {
        background: #F5F5FA;
        max-width: 1920px;
    }
        .footer_block {
            margin: 30px 60px 30px 60px;
            padding-top: 30px;
            border-top: 2px solid #E6E6F0;
        }
            .footer_text_verh {
                margin-bottom: 20px;
            }
                .adres {
                    font-size: 16px;
                    color: #323264;
                }

                .footer_adress {
                    margin-right: 10px;
                }
                .footer_adress a {
                    text-decoration: none;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 15px;
                    text-transform: uppercase;
                    color: #24A3FF;
                }
                .sign {
                    margin-left: 790px;
                    font-size: 16px;
                    line-height: 20px;
                    color: #B3B3BA;
                }
            .footer_text_niz {
                display: flex;
                align-items: center;
            }
                .footer_facebook {
                    fill:#24A3FF;
                }
                .footer_facebook:hover{
                    fill: red;
                }
                .footer_text_niz span {
                    margin-right: 10px;
                }
                    .footer_text_niz span a {
                        text-decoration: none;
                    }
                      .phone {
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 20px;
                     }
                      .mail {
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 20px;

                      }
                @media screen and (max-width:376px) {
                    .back_h {
                        background-image: url(./image/h-mobile.png);
                        background-position:top;
                        background-repeat: no-repeat;
                        max-width: 375px;
                    }
                    header {
                        padding: 10px 20px;
                    }
                    .legal {
                        padding-bottom: 50px;
                    }
                        .legal_text {
                            padding: 0px 40px;
                            font-weight: bold;
                            font-size: 38px;
                            line-height: 46px;
                        }
                .arrow {
                    margin-top: 20px;
                }
                .consistent {
                    margin: 10px 5px;
                    max-width: 375px;
                }
                .consistent_row {
                    display: flex;
                    flex-direction: column;
                } 
                .consistent_list {
                    padding: 10px 10px;
                }
                .consist_ul {
                    display: flex;
                    overflow: scroll;
                    
                }
                .consist_ul li {
                    padding-right: 5px;
                }
                .consistent_info {
                    max-width: 375px;
                    border-top: 4px solid #FFFFFF4D;
                    border-left: none;
                    padding: 10px 0px 0px 10px;
                }
                .consistent_info_text {
                    max-width: 375px;
                    padding: 10px 30px 10px 10px;
                }
                .cards {
                margin-top: 50px;
                max-width: 350px;
                margin-right: 0px;
                padding-right: 0px;
                }

                .oleksandr_row {
                display: flex;
                flex-direction: column;
                }
                .oleksandr_info {
                    max-width: 315px;
                    margin: 30px 0px 0px 0px;
                }
                .oleksandr_text {
                    max-width: 275px;
                    font-size: 25px;
                    padding-right: 20px;
                }
                .oleksandr_name {
                    padding-right: 100px;
                }
                .publication {
                    max-width: 375px;
                }
                .statia {
                    display: flex;
                    flex-direction: column;
                }
                .stati img {
                    width: 225px;
                    height: 200px;
                }
                footer {
                    display: flex;
                    flex-direction: column;
                }
                .footer_text_verh {
                    display:flex;
                    flex-direction: column;
                    align-items: center;
                }
                .footer_text_verh span img {
                    display: none;
                }
                .sign {
                    margin-left: 0px
                }
                .footer_text_niz {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                .footer_text_niz span img {
                    display: none;
                }

                }
        
                @media screen and (max-width:769px) {
                
                
                
                .consistent {
                    margin: 10px 5px;
                    max-width: 769px;
                }
                .consistent_row {
                    display: flex;
                    flex-direction: column;
                } 
                .consistent_list {
                    padding: 10px 10px;
                }
                .consist_ul {
                    display: flex;
                    overflow: scroll;
                    
                }
                .consist_ul li {
                    padding-right: 5px;
                }
                .consistent_info {
                    max-width: 648px;
                    border-top: 4px solid #FFFFFF4D;
                    border-left: none;
                    margin: 10px 0px 0px 50px;
                    padding: 10px 0px 0px 0px;
                }
                .consistent_info_text {
                    max-width: 648px;
                    padding: 10px 0px 10px 0px;
                }
                .card {
                    gap: 30px;
                }
                .cards{
                    margin-top: 70px;
                    margin-right: 0px;
                    padding-right: 0px;
                    max-width: 290px;
                    
                }
                .oleksandr_row {
                display: flex;
                flex-direction: column;
                }

                .oleksandr_row img {
                    border-radius: 12px 12px 0px 0px;
                }
                .oleksandr_info {
                    max-width: 648px;
                    margin: 30px 0px 0px 0px;
                }
                .oleksandr_text {
                    max-width: 648px;
                    font-size: 25px;
                    padding-right: 20px;
                }
                .oleksandr_name {
                    padding-right: 100px;
                }
                .clients_logo div {
                    width: 256px;
                    height: 120px;
                }
                .statia {
                    flex-wrap: wrap;
                    justify-content: center ;
                }
                #stat {
                    width: 650px;
                }
                .statia article {
                    margin-right: 10px;
                    margin-bottom: 10px;


                }
                .stati {
                    max-width: 310px;
                }
                .stati img {
                    width: 310px;
                }
                .sign {
                    margin-left: 70px;
                }

                }
        
                @media screen and (max-width:1025px) {
                    .consistent {
                        margin: 60px 180px 0px 30px;
                    }
                    .consistent_info_text {
                        max-width: 420px;
                    }
                    .consistent_info {
                        padding: 10px 0px 0px 30px;
                    }
                    .card {
                    gap: 30px;
                    }
                    .cards{
                        margin-top: 70px;
                        margin-right: 0px;
                        padding-right: 0px;
                        max-width: 280px;
                    }
                    .clients_logo div {
                    width: 256px;
                    height: 120px;
                    }
                    .stati {
                    max-width: 280px;
                }
                .stati img {
                    width: 280px;
                }
                .sign {
                    margin-left: 180px;
                }

                    
                }
        
                @media screen and (max-width:1921px) {
                    header {
                        padding: 50px 160px 0px 160px ;
                    }
                    .consistent {
                        margin: 60px 150px 0px 450px;
                    }         
                    .consistent_info_text {
                        width: 750px;
                    }
                    .services {
                        margin: 100px 180px 0px 400px
                    }
                    .oleksandr_info {
                        width: 1100px;
                    }
                    .oleksandr_body {
                        margin: 0px 100px;
                    }
                    .clients_logo div {
                    width: 430px;
                    height: 120px;
                    }
                    .clients_logo {
                        margin: 0px 100px;
                    }
                    .stati img {
                    width: 510px;
                }
                .stati {
                    max-width: 510px;
                }
                .publication {
                    padding-left: 150px;
                }
                .footer_block {
                    width: 1600px;
                    margin-left: 150px
                }
                .sign {
                    margin-left: 1000px;
                }

                }








}
