* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  font-family: "Montserrat", sans-serif;
}
.wrapper .gradient {
  position: relative;
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  margin-bottom: 50px;
  padding-bottom: 60px;
  border-radius: 0px 0px 12px 12px;
  box-shadow: 0px 10px 0px -1px #CACADB, 0px 20px 0px -3px #E7E7F2;
  max-width: 1920px;
}
.wrapper .back_h {
  background-image: url(./image/h_bukva.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.wrapper header {
  display: flex;
  justify-content: space-between;
  padding: 50px 60px;
  max-width: 1920px;
}
.wrapper .header_right {
  display: flex;
  flex-direction: column;
  justify-content: end;
  z-index: 1000;
}
.wrapper .contact {
  display: flex;
  justify-content: center;
  margin-bottom: 18px;
  height: 35px;
}
.wrapper .ua {
  background: #323264;
  border: none;
  margin-left: 5px;
  padding: 0px 12px;
}
.wrapper .ua a {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 700;
}
.wrapper .ua:hover {
  background: #F0145A;
  border: none;
  border-radius: 8px;
}
.wrapper .ru {
  background: #323264;
  border: none;
  margin-left: 5px;
  padding: 0px 12px;
}
.wrapper .ru a {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 700;
}
.wrapper .ru:hover {
  background: #F0145A;
  border: none;
  border-radius: 8px;
}
.wrapper .en {
  background: #F0145A;
  border: none;
  border-radius: 8px;
  margin-left: 5px;
  padding: 0px 12px;
}
.wrapper .en a {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 700;
}
.wrapper .contacts {
  margin-left: 13px;
  padding-bottom: 4px;
  display: flex;
  align-items: center;
}
.wrapper .contacts li {
  display: inline;
  color: #FFFFFF;
}
.wrapper .contacts li img {
  margin: 0px 6px;
}
.wrapper .contacts li a {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 700;
}
.wrapper .contacts li a .facefill {
  fill: white;
}
.wrapper .contacts li a .facefill:hover {
  fill: #F0145A;
}
.wrapper .nav_ul {
  list-style: none;
  text-align: end;
}
.wrapper .nav_ul li {
  display: inline;
}
.wrapper .nav_ul li a {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 700;
  padding-left: 15px;
}
.wrapper .nav_ul li a:hover {
  text-decoration: underline;
}
.wrapper .legal {
  text-align: center;
  margin-top: 210px;
}
.wrapper .legal_text {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  color: #FFFFFF;
}
.wrapper .arrow {
  margin: 300px 50px 0px 0px;
  text-align: center;
}
.wrapper .stroke {
  stroke: white;
}
.wrapper .stroke:hover {
  stroke: #F0145A;
}
.wrapper .consistent {
  margin: 60px 180px 0px 180px;
  max-width: 1920px;
}
.wrapper .consistent_row {
  display: flex;
  max-width: 1920px;
}
.wrapper .consistent_list {
  padding: 0px 60px 0px 0px;
}
.wrapper .consistent_list li {
  list-style: none;
  padding: 15px 0px 15px 0px;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  text-align: right;
  white-space: nowrap;
}
.wrapper .consistent_list li:first-child {
  background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.wrapper .consistent_list li a {
  text-decoration: none;
  color: #B3B3BA;
}
.wrapper .consistent_list li a:hover {
  background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.wrapper .consistent_info {
  padding: 60px 0px 0px 60px;
  border-left: 4px solid rgba(255, 255, 255, 0.3019607843);
}
.wrapper .consistent_info_text {
  width: 580px;
}
.wrapper .text_big {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: #FFFFFF;
  margin-bottom: 30px;
}
.wrapper .text_small {
  font-size: 19px;
  line-height: 30px;
  color: #FFFFFF;
}
.wrapper .services {
  margin: 100px 60px 0px 60px;
  max-width: 1920px;
}
.wrapper div .service a {
  text-decoration: none;
  color: #24A3FF;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.wrapper .service_text {
  margin: 10px 0px 20px 0px;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.wrapper .card {
  display: flex;
  flex-wrap: wrap;
}
.wrapper .cards {
  width: 400px;
  margin-top: 70px;
  margin-right: 30px;
  padding-right: 50px;
}
.wrapper .card_title {
  color: #24A3FF;
  padding-top: 20px;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  padding-right: 40px;
}
.wrapper .card_text {
  margin-top: 20px;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}
.wrapper .oleksandr {
  margin: 5px 0px 50px 0px;
  max-width: 1920px;
}
.wrapper .oleksandr_body {
  margin: 60px;
  background: #F5F5FA;
  border-radius: 12px 12px 0px 0px;
}
.wrapper .oleksandr_row {
  display: flex;
}
.wrapper .oleksandr_info {
  margin: 30px 0px 0px 30px;
  width: 700px;
}
.wrapper .oleksandr_info span a {
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #24A3FF;
  text-transform: uppercase;
}
.wrapper .oleksandr_text {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  margin: 20px 0px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.wrapper .oleksandr_name {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #B3B3BA;
}
.wrapper .oleksandr_job {
  font-size: 14px;
  line-height: 22px;
  color: #B3B3BA;
  margin-top: 5px;
}
.wrapper .oleksandr_ellips {
  text-align: center;
}
.wrapper .oleksandr_ellips a {
  text-decoration: none;
  padding: 0px 10px;
}
.wrapper .ellips_neactiv {
  fill: #24A3FF;
}
.wrapper .ellips_neactiv:hover {
  fill: #643E72;
}
.wrapper .clients {
  margin: 0;
  max-width: 1920px;
}
.wrapper .clients_title {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #323264;
  margin-bottom: 50px;
}
.wrapper .clients_logo {
  display: flex;
  flex-wrap: wrap;
}
.wrapper .clients_logo div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 120px;
}
.wrapper .hillel {
  background: #1C4280;
}
.wrapper .wanna {
  background: #143646;
}
.wrapper .tapgerine {
  background: #F48B30;
}
.wrapper .look {
  background: #9E4DC3;
}
.wrapper .orangear {
  background: #FD9339;
}
.wrapper .adtelligent {
  background: #E2E2E4;
}
.wrapper .clickky {
  background: #C71C36;
}
.wrapper .ecoleasyng {
  background: #DCF3F9;
}
.wrapper .infratek {
  background: #EAEAEA;
}
.wrapper .citypark {
  background: #282240;
}
.wrapper .artprint {
  background: #1D4568;
}
.wrapper .ultimate {
  background: #000000;
}
.wrapper .publication {
  padding: 30px 60px 0px 60px;
  background: #F5F5FA;
  max-width: 1920px;
}
.wrapper .publications a {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #24A3FF;
  text-decoration: none;
  text-transform: uppercase;
}
.wrapper .publications_text {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin: 10px 0px 30px 0px;
}
.wrapper .statia {
  display: flex;
  margin-bottom: 30px;
}
.wrapper .statia article {
  margin-right: 30px;
  background: #FFFFFF;
  border-radius: 8px;
}
.wrapper .stati_block {
  margin: 30px;
}
.wrapper .stati_title {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #24A3FF;
  margin-bottom: 15px;
}
.wrapper .stati_date {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #B3B3BA;
  margin-bottom: 15px;
}
.wrapper .stati_text {
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  border-top: 4px solid #E6E6F0;
  padding-top: 15px;
}
.wrapper footer {
  background: #F5F5FA;
  max-width: 1920px;
}
.wrapper .footer_block {
  margin: 30px 60px 30px 60px;
  padding-top: 30px;
  border-top: 2px solid #E6E6F0;
}
.wrapper .footer_text_verh {
  margin-bottom: 20px;
}
.wrapper .adres {
  font-size: 16px;
  color: #323264;
}
.wrapper .footer_adress {
  margin-right: 10px;
}
.wrapper .footer_adress a {
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #24A3FF;
}
.wrapper .sign {
  margin-left: 790px;
  font-size: 16px;
  line-height: 20px;
  color: #B3B3BA;
}
.wrapper .footer_text_niz {
  display: flex;
  align-items: center;
}
.wrapper .footer_facebook {
  fill: #24A3FF;
}
.wrapper .footer_facebook:hover {
  fill: red;
}
.wrapper .footer_text_niz span {
  margin-right: 10px;
}
.wrapper .footer_text_niz span a {
  text-decoration: none;
}
.wrapper .phone {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
.wrapper .mail {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
@media screen and (max-width: 376px) {
  .wrapper .back_h {
    background-image: url(./image/h-mobile.png);
    background-position: top;
    background-repeat: no-repeat;
    max-width: 375px;
  }
  .wrapper header {
    padding: 10px 20px;
  }
  .wrapper .legal {
    padding-bottom: 50px;
  }
  .wrapper .legal_text {
    padding: 0px 40px;
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
  }
  .wrapper .arrow {
    margin-top: 20px;
  }
  .wrapper .consistent {
    margin: 10px 5px;
    max-width: 375px;
  }
  .wrapper .consistent_row {
    display: flex;
    flex-direction: column;
  }
  .wrapper .consistent_list {
    padding: 10px 10px;
  }
  .wrapper .consist_ul {
    display: flex;
    overflow: scroll;
  }
  .wrapper .consist_ul li {
    padding-right: 5px;
  }
  .wrapper .consistent_info {
    max-width: 375px;
    border-top: 4px solid rgba(255, 255, 255, 0.3019607843);
    border-left: none;
    padding: 10px 0px 0px 10px;
  }
  .wrapper .consistent_info_text {
    max-width: 375px;
    padding: 10px 30px 10px 10px;
  }
  .wrapper .cards {
    margin-top: 50px;
    max-width: 350px;
    margin-right: 0px;
    padding-right: 0px;
  }
  .wrapper .oleksandr_row {
    display: flex;
    flex-direction: column;
  }
  .wrapper .oleksandr_info {
    max-width: 315px;
    margin: 30px 0px 0px 0px;
  }
  .wrapper .oleksandr_text {
    max-width: 275px;
    font-size: 25px;
    padding-right: 20px;
  }
  .wrapper .oleksandr_name {
    padding-right: 100px;
  }
  .wrapper .publication {
    max-width: 375px;
  }
  .wrapper .statia {
    display: flex;
    flex-direction: column;
  }
  .wrapper .stati img {
    width: 225px;
    height: 200px;
  }
  .wrapper footer {
    display: flex;
    flex-direction: column;
  }
  .wrapper .footer_text_verh {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .wrapper .footer_text_verh span img {
    display: none;
  }
  .wrapper .sign {
    margin-left: 0px;
  }
  .wrapper .footer_text_niz {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .wrapper .footer_text_niz span img {
    display: none;
  }
}
@media screen and (max-width: 769px) {
  .wrapper .consistent {
    margin: 10px 5px;
    max-width: 769px;
  }
  .wrapper .consistent_row {
    display: flex;
    flex-direction: column;
  }
  .wrapper .consistent_list {
    padding: 10px 10px;
  }
  .wrapper .consist_ul {
    display: flex;
    overflow: scroll;
  }
  .wrapper .consist_ul li {
    padding-right: 5px;
  }
  .wrapper .consistent_info {
    max-width: 648px;
    border-top: 4px solid rgba(255, 255, 255, 0.3019607843);
    border-left: none;
    margin: 10px 0px 0px 50px;
    padding: 10px 0px 0px 0px;
  }
  .wrapper .consistent_info_text {
    max-width: 648px;
    padding: 10px 0px 10px 0px;
  }
  .wrapper .card {
    gap: 30px;
  }
  .wrapper .cards {
    margin-top: 70px;
    margin-right: 0px;
    padding-right: 0px;
    max-width: 290px;
  }
  .wrapper .oleksandr_row {
    display: flex;
    flex-direction: column;
  }
  .wrapper .oleksandr_row img {
    border-radius: 12px 12px 0px 0px;
  }
  .wrapper .oleksandr_info {
    max-width: 648px;
    margin: 30px 0px 0px 0px;
  }
  .wrapper .oleksandr_text {
    max-width: 648px;
    font-size: 25px;
    padding-right: 20px;
  }
  .wrapper .oleksandr_name {
    padding-right: 100px;
  }
  .wrapper .clients_logo div {
    width: 256px;
    height: 120px;
  }
  .wrapper .statia {
    flex-wrap: wrap;
    justify-content: center;
  }
  .wrapper #stat {
    width: 650px;
  }
  .wrapper .statia article {
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .wrapper .stati {
    max-width: 310px;
  }
  .wrapper .stati img {
    width: 310px;
  }
  .wrapper .sign {
    margin-left: 70px;
  }
}
@media screen and (max-width: 1025px) {
  .wrapper .consistent {
    margin: 60px 180px 0px 30px;
  }
  .wrapper .consistent_info_text {
    max-width: 420px;
  }
  .wrapper .consistent_info {
    padding: 10px 0px 0px 30px;
  }
  .wrapper .card {
    gap: 30px;
  }
  .wrapper .cards {
    margin-top: 70px;
    margin-right: 0px;
    padding-right: 0px;
    max-width: 280px;
  }
  .wrapper .clients_logo div {
    width: 256px;
    height: 120px;
  }
  .wrapper .stati {
    max-width: 280px;
  }
  .wrapper .stati img {
    width: 280px;
  }
  .wrapper .sign {
    margin-left: 180px;
  }
}
@media screen and (max-width: 1921px) {
  .wrapper header {
    padding: 50px 160px 0px 160px;
  }
  .wrapper .consistent {
    margin: 60px 150px 0px 450px;
  }
  .wrapper .consistent_info_text {
    width: 750px;
  }
  .wrapper .services {
    margin: 100px 180px 0px 400px;
  }
  .wrapper .oleksandr_info {
    width: 1100px;
  }
  .wrapper .oleksandr_body {
    margin: 0px 100px;
  }
  .wrapper .clients_logo div {
    width: 430px;
    height: 120px;
  }
  .wrapper .clients_logo {
    margin: 0px 100px;
  }
  .wrapper .stati img {
    width: 510px;
  }
  .wrapper .stati {
    max-width: 510px;
  }
  .wrapper .publication {
    padding-left: 150px;
  }
  .wrapper .footer_block {
    width: 1600px;
    margin-left: 150px;
  }
  .wrapper .sign {
    margin-left: 1000px;
  }
}/*# sourceMappingURL=style.css.map */